ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
}

ul li {
    float: left;
    background: url(./img/aba-direita.png) no-repeat top right;
}

li a {
    color: #fff;
    font-weight: bold;
    background: url(./img/aba-esquerda.png) no-repeat;
    display: block;
    padding: 0 2em; 
    line-height: 3em;
    text-decoration: none;
}

ul a:hover {
   color: #000;
    background: yellow;
    border-radius: 50%;
    
}

ul #atual {
    background: url(./img/aba-direita-atual.png) no-repeat;
}

ul #atual a {
    background: url(./img/aba-esquerda-atual.png) no-repeat;
}